<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

  <div id="app">
    <div class="container">
      <form v-if="!submitted" class="mt-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" v-model="email" class="form-control form-control-lg">
        </div>
        <button type="submit" @click.prevent="process" class="btn btn-primary">Submit</button>
      </form>
      <div v-else v-cloak class="mt-5">
        <h2>Thank you for submitting!</h2>
        <div class="card mt-5">
          <h2 class="card-header">Near-Earth Objects</h2>
          <div class="m-3" v-cloak v-if="numAsteroids > 0">
            <p>showing {{numAsteroids}} items</p>
            <p>{{closest}} passed the closest to Earth</p>
          </div>
          <table class='table'>
            <thead class='thead-light'>
              <th>#</th>
              <th>Name</th>
              <th>Close Approach Date</th>
              <th>Miss distance</th>
              <th>Remove</th>
            </thead>
            <tbody v-cloak>
              <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id">
                <td>{{index + 1}}</td>
                <td>{{a.name}}</td>
                <td>{{getCloseApproachDate(a)}}</td>
                <td>
                  <ul v-if="a.close_approach_data.length > 0">
                    <li v-for="(value, key, index) in a.close_approach_data[0].miss_distance">
                      {{key}}: {{value}}
                    </li>
                  </ul>
                </td>
                <td>
                  <button @click="remove(index)" class="btn btn-warning">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        email: 'steve@example.com',
        submitted: false,
        asteroids: []
      },
      computed: {
        numAsteroids: function () {
          return this.asteroids.length;
        },
        closest: function () {
          let neosHavingData = this.asteroids.filter(function (neo) {
            return neo.close_approach_data.length > 0;
          });
          let simpleNeos = neosHavingData.map(function (neo) {
            return { name: neo.name, miles: neo.close_approach_data[0].miss_distance.miles };
          });
          let sortedNeos = simpleNeos.sort(function (a, b) {
            return a.miles - b.miles;
          });
          return sortedNeos.length > 0 ? sortedNeos[0].name : 'Data not available to calculate which object ';
        }
      },
      methods: {
        getCloseApproachDate(a) {
          if (a.close_approach_data.length > 0) {
            return a.close_approach_data[0].close_approach_date
          }
          return 'N/A';
        },
        process: function () {
          vm.getAsteroid();
          this.submitted = true;
        },
        getAsteroid: function () {
          const nasaApiKey = "lYsLR6zw6FQhK0N1xDFtD46pmqBeuG0lwpPdHSAU"
          let url = `https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=${nasaApiKey}`;
          axios.get(url)
            .then(function (res) {
              // handle success
              vm.asteroids = res.data.near_earth_objects.slice(0, 10);
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
        },
        remove: function (index) {
          this.asteroids.splice(index, 1);
        }
      }
    });

  </script>

</body>

</html>